<h2 style='color:Green' align='left'>Titanic crash survival prediction using Naive Bayes(GaussianNB) ML Model</h2>

<img align='left' src="titanic-sinking.jpg" width="400" height="300" />

In [1]:
import pandas as pd
df=pd.read_csv('titanic.csv') #Source Kaggle
df.head() #Get the data table

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [2]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
#Drop Unnecessary column for simplifing analysis

In [4]:
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [5]:
x=df.drop(['Survived'],axis='columns')
y=df['Survived']

In [6]:
x.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [7]:
y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

**Convert sex column from text to numeric**

In [8]:
x=pd.get_dummies(x,columns=['Sex'],drop_first=True)
x.head()

   Pclass   Age     Fare  Sex_male
0       3  22.0   7.2500         1
1       1  38.0  71.2833         0
2       3  26.0   7.9250         0
3       1  35.0  53.1000         0
4       3  35.0   8.0500         1

In [9]:
# Findout if is there any NA value in the table
x.columns[x.isna().any()]

Index(['Age'], dtype='object')

In [10]:
#Fill NA values with mean of Age column
x.Age=x.Age.fillna(x.Age.mean())
x

     Pclass        Age     Fare  Sex_male
0         3  22.000000   7.2500         1
1         1  38.000000  71.2833         0
2         3  26.000000   7.9250         0
3         1  35.000000  53.1000         0
4         3  35.000000   8.0500         1
..      ...        ...      ...       ...
886       2  27.000000  13.0000         1
887       1  19.000000  30.0000         0
888       3  29.699118  23.4500         0
889       1  26.000000  30.0000         1
890       3  32.000000   7.7500         1

[891 rows x 4 columns]

In [11]:
x.columns[x.isna().any()]
#Check again for NA values

Index([], dtype='object')

In [13]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [14]:
len(x_train)

712

In [15]:
len(x_test)

179

In [16]:
len(x)

891

In [17]:
from sklearn.naive_bayes import GaussianNB #Import gaussian naive bayes
model=GaussianNB()

In [18]:
model.fit(x_train,y_train) # Train the Model

GaussianNB()

In [19]:
model.score(x_test,y_test) #Check the model score

0.7597765363128491

In [20]:
!pip install rich

WARNING: Ignoring invalid distribution -ymongo (c:\users\apl73176-niteshkumar\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ymongo (c:\users\apl73176-niteshkumar\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ymongo (c:\users\apl73176-niteshkumar\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ymongo (c:\users\apl73176-niteshkumar\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ymongo (c:\users\apl73176-niteshkumar\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ymongo (c:\users\apl73176-niteshkumar\anaconda3\lib\site-packages)

Requirement already satisfied: rich in c:\users\apl73176-niteshkumar\anaconda3\lib\site-packages (13.4.2)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\apl73176-niteshkumar\anaconda3\lib\site-packages (from rich) (2.15.1)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\apl73176-niteshkumar\anaconda3\lib\site-packages (from rich) (3.0.0)
Requirement already satisfied: mdurl~=0.1 in c:\users\apl73176-niteshkumar\anaconda3\lib\site-packages (from markdown-it-py>=2.2.0->rich) (0.1.2)

**Predict the model**

In [ ]:
import warnings
warnings.filterwarnings('ignore')

from rich.console import Console

Pclass = int(input("Enter Person's Pclass Number (1-3):"))
Age = int(input("Enter Person's Age: "))
Fare = float(input("Fare in USD: "))
Sex_male = int(input("Gender of Person (Male-1, Female-0):"))
Person_details = [[Pclass, Age, Fare, Sex_male]]
result = model.predict(Person_details)

console = Console()

if result == 1:
    console.print("[bold green]Person Might have survived[/bold green]")
else:
    console.print("[bold red]Person Might not have survived[/bold red]")

In [ ]:
model.predict_proba(x_test[:10])

In [ ]:
import numpy as np
a=model.predict_proba(x_test[:10])
np.round(a,4)

**Calculate the score using cross validation**

In [ ]:
from sklearn.model_selection import cross_val_score
cross_val_score(GaussianNB(),x_train, y_train, cv=5)

<h2 style='color:Green' align='left'> Predicting spam Email using Naive Baye's (Multinomial NB) ML model </h2>

Date  : 28.7.2023

<img align='left' src="spam-mail.jpg" width="600" height="100" />

In [1]:
import pandas as pd
df=pd.read_csv('spam.csv')
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

**Data exploration**

In [2]:
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [3]:
#We need to convert category column from text to number by replacing ham and spam with 0 & 1
df['spam']=df['Category'].apply(lambda x:1 if x=='spam' else 0 )

In [4]:
df

     Category                                            Message  spam
0         ham  Go until jurong point, crazy.. Available only ...     0
1         ham                      Ok lar... Joking wif u oni...     0
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3         ham  U dun say so early hor... U c already then say...     0
4         ham  Nah I don't think he goes to usf, he lives aro...     0
...       ...                                                ...   ...
5567     spam  This is the 2nd time we have tried 2 contact u...     1
5568      ham               Will ü b going to esplanade fr home?     0
5569      ham  Pity, * was in mood for that. So...any other s...     0
5570      ham  The guy did some bitching but I acted like i'd...     0
5571      ham                         Rofl. Its true to its name     0

[5572 rows x 3 columns]

In [5]:
#Test train classfication
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df.Message,df.spam,test_size=0.2)

In [6]:
from sklearn.feature_extraction.text import CountVectorizer #Import class 
Dis_count=CountVectorizer()
x_train_count=Dis_count.fit_transform(x_train.values) # fit - train data , transform - convert it into matrix representation
x_train_count.toarray() # convert the x_train_count matrix into arrays

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

**Train the Datasets**

In [7]:
from sklearn.naive_bayes import MultinomialNB
model=MultinomialNB()
model.fit(x_train_count,y_train)

MultinomialNB()

**Predict**

In [ ]:
from rich.console import Console
console=Console()

Sample_email= [(input()),str(input())]
emails_count = Dis_count.transform(Sample_email)
Prediction = model.predict(emails_count)


for idx,(email,Prediction) in enumerate(zip(Sample_email,Prediction),1):
    if Prediction==0:
        pred_text="[bold  green]- is Not a Spam Email & It will go to INBOX folder"
    else:
        pred_text="[bold  red1]- is a Spam Email & It will go to SPAM folder"
    print()    
    print(f"{idx}.The Email: {email}")
    console.print(f"{pred_text}\n")